{# Citations: #}
{# Used GitHub Copilot with debugging process like: #}
{# help fixing an errors in output #}

{% extends "base.html" %}

{% block title %}SalesProducts{% endblock %}

{% block content %}
<h1>Sales Products List</h1>

<h2>Add a SaleProduct</h2>
<form class="cuForm" id="add_sale_product" method="POST" action="/sales_products">
    <label>saleID: 
        <select name="sale_id" required>
            <option value="" disabled selected>Select a saleID</option>
            {% for sale in sales %}
                <option value="{{ sale.saleID }}">{{ sale.saleID }}</option>
            {% endfor %}
        </select>
    </label><br>
    <label>productName: 
        <select name="product_id" required>
            <option value="" disabled selected>Select a Product</option>
            {% for product in products %}
                <option value="{{ product.productID }}">{{ product.productName }}</option>
            {% endfor %}
        </select>
    </label><br>
    <label>quantity: <input type="number" name="quantity" required></label><br>
    <label>unitPriceAtSale: <input type="number" name="unit_price_at_sale" required></label><br>
    <button type="submit">Add SaleProduct</button>
</form>
<hr>

<table border="1">
    <thead>
        {% if sale_product %}
        <tr>
            {% for header in sale_product[0].keys() %}
                <th>{{ header }}</th>
            {% endfor %}
            <th colspan="2">Actions</th>
        </tr>
        {% endif %}
    </thead>
    <tbody>
        {% for sale_product in sale_product %}
            <tr>
                {% for value in sale_product.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
                <td><a href="/update_sale_product/{{ sale_product.saleProductID }}">Edit</a></td>
                <td><a href="/delete_sale_product/{{ sale_product.saleProductID }}" onclick="return confirm('Are you sure you want to delete this saleproduct?');">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
