{% extends "base.html" %}

{% block title %}Sales{% endblock %}

{% block content %}
<h1>Sales List</h1>

{% if error %}
    <script>
        // might throw an syntax error; it is fine to ignore it
        alert({{ error|tojson }});
    </script>
{% endif %}

<!-- Add New Sale Form -->
<h2>Add New Sale</h2>
<form method="POST" action="/sales">
    <label>Customer: 
        <select name="customer_id" required>
            <option value="" disabled selected>Select a customer</option>
            {% for customer in customers %}
                <option value="{{ customer.customerID }}">{{ customer.firstName }} {{ customer.lastName }}</option>
            {% endfor %}
        </select>
    </label><br>
    
    <label>Employee: 
        <select name="employee_id" required>
            <option value="" disabled selected>Select an employee</option>
            {% for employee in employees %}
                <option value="{{ employee.employeeID }}">{{ employee.firstName }} {{ employee.lastName }}</option>
            {% endfor %}
        </select>
    </label><br>
    
    <label>Sale Date: <input type="date" name="sale_date" required></label><br>
    <label>Subtotal: <input type="number" step="0.01" name="subtotal" required></label><br>
    <label>Discount: <input type="number" step="0.01" name="discount"></label><br>
    <label>Payment Method: 
        <select name="payment_method" required>
            <option value="Cash">Cash</option>
            <option value="Yappy">Yappy</option>
            <option value="Credit Card">Credit Card</option>
            <option value="Debit Card">Debit Card</option>
        </select>
    </label><br>
    <button type="submit">Add Sale</button>
</form>
<hr>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Employee</th>
            <th>Sale Date</th>
            <th>Subtotal</th>
            <th>Discount</th>
            <th>Tax</th>
            <th>Total Amount</th>
            <th>Payment Method</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.saleID }}</td>
                <td>{{ sale.customerName }}</td>
                <td>{{ sale.employeeName }}</td>
                <td>{{ sale.saleDate }}</td>
                <td>{{ sale.subtotal }}</td>
                <td>{{ sale.discount }}</td>
                <td>{{ sale.tax }}</td>
                <td>{{ sale.totalAmount }}</td>
                <td>{{ sale.paymentMethod }}</td>
                <td><a href="/update_sale/{{ sale.saleID }}">Edit</a></td>
                <td><a href="/delete_sale/{{ sale.saleID }}" onclick="return confirm('Are you sure you want to delete this sale?');">Delete</a></td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
